body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
<<<<<<< HEAD
  padding: 32px;
=======
  /* CHANGE ME */
  padding: 0px;
>>>>>>> fb7ebac1fbe15d457eeca2d091baa2e209d5e5d4
  margin: 0px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 0px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
<<<<<<< HEAD
  padding: 32px;
=======
  padding: 0px;
>>>>>>> fb7ebac1fbe15d457eeca2d091baa2e209d5e5d4
  margin-left: 0px;
}